.App {
  text-align: center;
}

.App-logo {
  width: 70%;
  margin-top: 1rem;
}

.App-Title{
  margin-top: 3rem;
  font-family: 'Archivo Black', sans-serif;
}

.App-Title-colour{
  color:#3f51b5;
}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

/*.Button-holder{*/
  /*margin-top: 30%;*/
/*}*/

.menu-button{
  width: 70%;
  padding:1rem !important;
  margin: 1rem !important;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
}



.list-scrollable {
  width: 100%;
}

.inline  {
  display: inline;
}

.family-image{
    width:100%;
}

.review{
  text-align: right;
  padding: 1rem;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.display-alert{
  display: none;
}



.desktop-nav{
  list-style: none;
  display: flex;
}

.desktop-nav-item{
  margin-right: 5rem;
}